.content {
    background-color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.content * {
    margin: auto;
}

.testing {
    color: white;
}

.imgSliderContainer {
    border: 1px solid green;
    width: 80%;
    height: 800px;
}

.imgContainer {
    position: relative;
    display: flex;
    border: 1px solid yellow;
    width: 80%;
    height: 500px;
    margin-top: 25px;
}

.innerImgContainer {
    border: 1px solid brown;
    z-index: 0;
    width: 100px;
    height: 450px;
}

.visibleImgContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid purple;
    background: grey;
    width: 33%;
    height: 480px;
    z-index: 10;
}

.imgLeftContainer, .imgRightContainer {
    border: 1px solid green;
    width: 25%;
    height: 480px;
}

.imgOrderContainer {
    border: 1px solid pink;
    width: 50%;
    height: 35px;
    margin-top: 5px;
}

.btnLeftContainer, .btnRightContainer {
    position: absolute;
    border: 1px solid blue;
    width: 64px;
    height: 64px;
}

.btnLeftContainer {
    top: 50%;
    transform: translate(-50%, -50%);
}

.btnRightContainer {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

#btnRight, #btnLeft {
    width: 64px;
    height: 64px;
}

